<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="icara.realnavbar" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game_rules"
            android:label="Game Rules" >
        </activity>
        <activity
            android:name=".youtube_tut1"
            android:label="Clip" >
        </activity>
        <!--
            <activity
            android:name=".game_concepts"
            android:label="Game Concepts">
            </activity>
        -->
        <activity
            android:name=".youtube_tut2"
            android:label="@string/title_activity_youtube_tut2" >
        </activity>
        <activity
            android:name=".youtube_tut3"
            android:label="@string/title_activity_youtube_tut3" >
        </activity>
        <activity
            android:name=".youtube_tut4"
            android:label="@string/title_activity_youtube_tut4" >
        </activity>
        <activity
            android:name=".youtube_tut5"
            android:label="@string/title_activity_youtube_tut5" >
        </activity>
        <activity
            android:name=".youtube_tut6"
            android:label="@string/title_activity_youtube_tut6" >
        </activity>
        <activity
            android:name=".general_rules"
            android:label="@string/title_activity_general_rules" >
        </activity>
        <activity
            android:name=".golden_rules"
            android:label="@string/title_activity_golde_rules" >
        </activity>
        <activity
            android:name=".player_rules"
            android:label="@string/title_activity_player_rules" >
        </activity>
        <activity
            android:name=".starting_game"
            android:label="@string/title_activity_starting_game" >
        </activity>
        <activity
            android:name=".ending_game"
            android:label="@string/title_activity_ending_game" >
        </activity>
        <activity
            android:name=".colors"
            android:label="@string/title_activity_colors" >
        </activity>
        <activity
            android:name=".mana"
            android:label="@string/title_activity_mana" >
        </activity>
        <activity
            android:name=".parts_of_a_card"
            android:label="@string/title_activity_parts_of_a_card" >
        </activity>
        <activity
            android:name=".card_types"
            android:label="@string/title_activity_card_types" >
        </activity>
        <activity
            android:name=".zones"
            android:label="@string/title_activity_zones" >
        </activity>
        <activity
            android:name=".turn_structure"
            android:label="@string/title_activity_turn_structure" >
        </activity>
        <activity
            android:name=".spells"
            android:label="@string/title_activity_spells" >
        </activity>
        <activity
            android:name=".additional_rules"
            android:label="@string/title_activity_additional_rules" >
        </activity>
        <activity
            android:name=".multiplayer_rules"
            android:label="@string/title_activity_multiplayer_rules" >
        </activity>
        <activity
            android:name=".parts_of_a_card_name"
            android:label="@string/title_activity_parts_of_a_card_name" >
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".successful_login"
            android:label="@string/title_activity_successful_login_basic_magic" >
        </activity>
    </application>

</manifest>
